.heading{
    display: flex;
    padding: 10px;
    margin: 10px;
}
.circle{
    background-color: rgb(247, 135, 8);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left:9%;
   
}
.heading_01{
    font-family:sans-serif;
    position: relative;
    left:6%;
    top: 10px;
    text-align: center;
    height: 20%;

}
.emp{
    font-family:sans-serif;
    margin: 10px;
    padding: 10px;
    display: flex;
    text-align: center;
    position: relative;
    top: 50px;
}
.emp_01{
    border-right: 1px black solid;
    position: relative;
    width: 25%;
    height: auto;
}
.emp_02{
    border-right:1px black solid ;
    border-left:1px black solid;
    position: relative;
    width: 25%;
    height: auto;
}
.emp_03{
    border-right: 1px black solid;
    border-left: 1px black solid;
    position: relative;
    width: 25%;
    height: auto;
}
.emp_04{
    border-left: 1px black solid;
    position: relative;
    width: 25%;
    height: auto;
}

.img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}